
*,*::after,*::before{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=K2D&display=swap');
body{
    margin:0;
    padding:0;
    font-family: K2D, sans-serif;
}

nav,ol{
    margin:0;
    padding:0;
}

/* * el header estilos css */
.header{
    width:100%;
    height: 6em;
    background-color:#26262D;
    /* display:flex; */
    /* justify-content:space-between; */
    /* flex-wrap: wrap; */
    /* align-items:center; */
   
}
/* !aca se hace que los elemntos de cada i esten uno debajod e otro */
.menu li{
    list-style: none;
    /* border:1px solid red; */
    display: block;
    text-align: center;
 
    

}
/*! se le quita la decoracion a cada a */
.menu a{
    color:white;
    padding-left: 10px;
    text-decoration: none;
    font-size:1.2em;
}
/* !se centran los elementos del header y se alinean */
.menu{
    display:flex;
    justify-content:space-around;
    /* flex-wrap: wrap; */
    align-items:center;
    /* background: red; */
    height:5em;
}
/*! se da estilos al icono */
.menu li>i{
    color:white;
    font-size:1.1em;
    font-family: K2D, sans-serif;
    transition:all .9s;
    /* background: red; */
}
/*! se hace que el span este debajo del icono */
span{
display:block;
/* background:yellow; */
font-family: K2D, sans-serif;
font-size: .8em;
padding-top:.7em;

}
/*! cambio de color a el primer elemento de el menu, exac a la fuente del i */
.menu li:nth-child(1) i{
    color:#D69210;
    /* background: red */
}
/* !animo cada item del menu */
.menu li:hover i{
    color:#D69210;
    
    animation-name: bizz;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
   
    /* transition-property: all;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
/* !se crea el fram de la animacion */
@keyframes bizz {
    0%{
        transform-origin: center top;
        transform:rotate(0deg);
    }
    25%{
        transform-origin: center top;
        transform:rotate(5deg);
    }
    50%{
        transform-origin: center top;
        transform:rotate(10deg);
    }
    75%{
        transform-origin: center top;
        transform:rotate(15deg);
    }
    100%{
        transform-origin: center top;
        transform:rotate(20deg);
    }
}

/* * ahora la parte dele nombre la section 1 */
/* !se asigna el area para poner la foto y el nombre */
.main{
    margin: 0;
    width: 100%;
    height: 70vh;
    background: #D69210;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    /* background-blend-mode: soft-light */
    background-attachment: fixed;
    position: relative;
    z-index: 10;
}
/*! se evita el colapso de margenes entre el header y el h1 */
h1{
    margin:0;
    
}
/*! se hace el circulo q contiene la foto y se escribe el nombre con h1*/
.photo{
    background-color: chartreuse;
    width:150px;
    height: 150px;
    border-radius:50%;
    border: 6px solid rgba(0,0,0,0.22);

}
/*! se alinea el texto */
.information{
    text-align: center;
   
}
.information h1{
margin-top:1.5em;
font-size:3em;
color:#ffff;
}

.information span{
    display:inline-block;
    margin:10px 10px ;
    font-weight: 800;
    color:white
}
/*! se hacen los puntos despues de las letras o sapn */
.information span:after{
    content: ' ';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: mediumvioletred;
    display: inline-block;
    margin: 0 10px;
}
/*! se cooca una pantalla sobre la foto */
.main.overlay:before{
    content: '';
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(38,38,45,0.7);
    z-index: -10;
    /*! esto hace atras el overlay */
}


/*! se inica el proceso de creacion de el about-me */

.about-me{
    width: 100%;
    height:50vh;
    background-color: #fff;
}
/* !de esta forma elijo un elemnto h1 en doferentes secciones con propiedades iguales */
.resume h1,
.service h1,
.about-me  h1{
    font-size:3em;
    padding:15px;
    padding-top:2em;

}
.about-me p{
    font-size:1.3em;
    padding:0 15px;
}
.about-me button{
    min-width: 160px;
    padding:25px;
    margin-left:15px;
    color:black;
    font-weight: 700;
    margin-top:20px;
    background-color:#fff;
    border:none;
    cursor: pointer;
    border: 2px solid #313131;
    transition: all 1s;
    transform-origin: 0% 100%;
    position: relative;

}
.about-me button:hover{
    transform:rotate(3deg);
    background: #C1E5E2;
}
/* !de esta forma elijo un elemnto h1 en doferentes secciones con propiedades iguales */
.resume span,
.service span,
.about-me span{
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color:#FE4B68;
}
/*! se crea el efecto de llando de  boton en el before */

button:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height:100%;
    /* z-index: -1; */
    background:rgba(113, 201, 223 , .3);
    transition: all 1s ease-in-out;
    /* z-index: 2; */
    
  }
  button:hover:before {
  width: 100%;
  /* height: 100%; */
  /* transform: rotate3d(0, 0, 1, -45deg) */
  }
/*! se empieza a crear la seccion de service */

.service{
    width: 100%;
    height:120vh;
    /* background-color:red; */
}
  /*! se crea la line en el titulo deservice en el before */

  .service span::after{
      content:'___';
      font-weight:100;
      font-size: 30px;
  }

  .service h1{
      margin-left:15px;
      padding:0;
  }
/*! se realiza una grilla con la informacion de los servicios */
  .container-service{
      margin-top:2%;
      display:grid;
      grid-template-rows: repeat(3,1fr);
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;
      justify-content: center;
      

  }
  .service-item{
      /* background: yellow; */
      padding:.6em;
     
  }
  .service-item p{
    line-height: 28px;
    padding: 2px;
    color: #777777;
  }
  .service-item h2{
      color: #311d1d;
  }
/* !estilos de los icons de los servicios */
  .service-item i{
      color:#FE6D68;
      font-size: 3em;
      padding-bottom: 10px;
  }
/*! se inicia la creacion del resume */
  .resume h1{
    margin-left:15px;
    padding:0;
}
/*! tamaño del resume */
.resume{
    width: 100%;
    height: 70vh;
    /* background:red; */
}
/*! grilla del resume */
.container-resume{
    display:grid;
    grid-template-rows: 50px repeat(2,1fr);
    grid-template-columns:repeat(2,1fr);
    grid-gap:.9em;
    padding: 40px 55px 40px 40px;  
    justify-content: center;  
    /* align-items:center; */
}
/* !estilos de los titulos del resume */
.box-resume-title h3{
    /* background:yellow; */
    color: #3a3939;
    font-family: 'K2D', sans-serif;
    font-size:28px;
}
/*! cada box del resume */
.box-resume{
    border: 1px solid rgba(26,26,26,0.07); 
        border-left-width: 6px;
        border-radius: 5px 0 0 5px;
        padding: 40px 55px 40px 40px;
        margin-top: 35px;
        border-left-color: #fe4b68;
}
.box-resume p{
    color:rgba(75, 71, 71, 0.467);
    line-height: 28px;
}